@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #646d70;
  font-family: "Rubik", serif;
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 52.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0rem, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.header.scroll::before {
  opacity: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: center;
  min-height: 6.5625rem;
}
.header__logo {
  overflow: hidden;
}
.header__logo img {
  width: 8.4375rem;
  max-width: none;
}
.header__body {
  display: flex;
}
.header__body {
  align-items: center;
}
.header__button {
  padding: 0.625rem 1.375rem;
  background-color: white;
  border-radius: 0.25rem;
  color: #606b74;
  font-size: 0.75rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

.menu__list {
  display: flex;
  row-gap: 0.625rem;
}
.menu__list {
  flex-wrap: wrap;
}
.menu__link {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  position: relative;
}
.menu__link::before, .menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.125rem;
  width: 50%;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menu__link::before {
  right: 50%;
  transform-origin: left;
}
.menu__link::after {
  left: 50%;
  transform-origin: right;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  background-color: #222f33;
  padding-block: 2.0625rem;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 0.9375rem;
  row-gap: 0.9375rem;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.17;
  font-weight: 500;
}
.footer__mail {
  position: relative;
}
.footer__mail::before, .footer__mail::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.125rem;
  width: 50%;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.footer__mail::before {
  right: 50%;
  transform-origin: left;
}
.footer__mail::after {
  left: 50%;
  transform-origin: right;
}
.footer__logo {
  justify-self: center;
}
.footer__menu {
  justify-self: end;
  display: flex;
}

.menu-footer__list {
  display: flex;
  gap: 1.875rem;
}
.menu-footer__link {
  position: relative;
}
.menu-footer__link::before, .menu-footer__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.125rem;
  width: 50%;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menu-footer__link::before {
  right: 50%;
  transform-origin: left;
}
.menu-footer__link::after {
  left: 50%;
  transform-origin: right;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */

.hero {
  position: relative;
  display: flex;
  min-height: 100vh;
}
.hero__container {
  padding-top: 5.625rem;
  padding-bottom: 3.125rem;
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 54.320988% 1fr; /* 440/810 */
  align-items: center;
  gap: 1.25rem;
}
.hero__label {
  color: #fff;
  font-weight: 500;
}
.hero__label:not(:last-child) {
  margin-bottom: 0.75rem;
}
.hero__title {
  color: #ffffff;
  font-size: 1.875rem;
}
.hero__title {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  line-height: 1.27;
}
.hero__video-link {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 500;
}
.hero__video-link {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.hero__video-link::before {
  content: "";
  width: 2rem;
  height: 2rem;
  flex: 0 0 2rem;
  border-radius: 50%;
  background: url("../assets/img/hero/play.svg") left no-repeat;
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}
.hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.duur {
  position: relative;
  z-index: 2;
}
.duur__container {
  position: relative;
  z-index: 2;
  padding-bottom: 1.25rem;
  display: grid;
  grid-template-columns: 50% minmax(17.8125rem, 20.3125rem);
}
.duur__container {
  row-gap: 1.5625rem;
  justify-content: space-between;
  align-items: start;
  min-width: 0;
}
.duur__content {
  padding-top: 1.5625rem;
  display: grid;
  gap: 0.8125rem;
  justify-items: start;
}
.duur__title {
  color: #222f33;
  font-size: 1.875rem;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  line-height: 1.27;
}
.duur__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.86;
}
.duur__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.duur__link {
  padding: 0.625rem 0.9375rem;
  border-radius: 0.25rem;
  border: 0.0625rem #646d70 solid;
  transition: background-color 0.3s;
}
.duur__slider {
  position: relative;
}
.duur__slide {
  position: relative;
  aspect-ratio: 325/366;
}
.duur__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-duur {
  position: relative;
}
.slider-duur__pagination {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  bottom: 1rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.slider-duur__pagination span {
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.slider-duur__pagination span.swiper-pagination-bullet-active {
  background: white;
}

.innovatie {
  background-color: #222f33;
}
.innovatie__title {
  color: #fff;
  font-size: 1.875rem;
  font-family: "Merriweather", sans-serif;
  line-height: 1.27;
  font-weight: 900;
}
.innovatie__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.innovatie__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  line-height: 1.71;
  columns: 2 15.625rem;
  gap: 2.6875rem;
}
.innovatie__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.info__container {
  grid-template-columns: auto;
}
.info__container {
  display: grid;
}
.info__image {
  text-align: center;
  aspect-ratio: 355/362;
}
.info__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info__title {
  color: #222f33;
  font-size: 1.125rem;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  line-height: 1.28;
}
.info__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.info__text {
  color: rgba(100, 109, 112, 0.7);
  font-size: 0.75rem;
  line-height: 1.83;
}
@media (width <= 48em){
  .hero__title {
    font-size: 1.5rem;
  }
  .info__container {
    gap: 1.875rem;
  }
  .info__content {
    column-gap: 0.9375rem;
  }
}
@media (width <= 47.99875em){
  .duur__container {
    grid-template-columns: auto;
  }
  .info__image {
    order: 2;
  }
  .info__content {
    order: 1;
  }
}
@media (width <= 43.75em){
  .hero__container {
    grid-template-columns: auto;
    align-content: center;
  }
  .hero__image img {
    opacity: 0.6;
  }
}
@media (width <= 39.0625em){
  .header__container {
    min-height: 4.375rem;
  }
  .header__logo {
    flex: 0 0 2.0625rem;
  }
}
@media (width <= 37.5em){
  .footer__container {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
}
@media (width <= 20em){
  .header__body {
    gap: 0.625rem;
  }
  .menu__list {
    column-gap: 1.25rem;
  }
  .page__innovatie {
    padding-top: 1.875rem;
  }
  .page__innovatie {
    padding-bottom: 1.875rem;
  }
  .page__info {
    padding-top: 1.875rem;
  }
  .page__info {
    padding-bottom: 1.875rem;
  }
  .duur__container {
    column-gap: 1.25rem;
  }
  .info__content {
    row-gap: 0.625rem;
  }
}
@media (width > 20em) and (width <= 52.5em){
  .header__body {
    gap: clamp( 0.625rem , -0.64423076923125rem  +  6.3461538462vw , 2.6875rem );
  }
  .menu__list {
    column-gap: clamp( 1.25rem , 0.48076923076875rem  +  3.8461538462vw , 2.5rem );
  }
  .page__innovatie {
    padding-top: clamp( 1.875rem , 0.3365384615375rem  +  7.6923076923vw , 4.375rem );
  }
  .page__innovatie {
    padding-bottom: clamp( 1.875rem , -0.048076923075rem  +  9.6153846154vw , 5rem );
  }
  .page__info {
    padding-top: clamp( 1.875rem , -0.2403846153875rem  +  10.5769230769vw , 5.3125rem );
  }
  .page__info {
    padding-bottom: clamp( 1.875rem , -0.2403846153875rem  +  10.5769230769vw , 5.3125rem );
  }
  .duur__container {
    column-gap: clamp( 1.25rem , -0.8653846153875rem  +  10.5769230769vw , 4.6875rem );
  }
  .info__content {
    row-gap: clamp( 0.625rem , -0.4134615384625rem  +  5.1923076923vw , 2.3125rem );
  }
}
@media (width >= 37.5em){
  .footer__mail {
    justify-self: start;
  }
}
@media (width > 39.0625em) and (width <= 75em){
  .header__container {
    min-height: clamp( 4.375rem , 1.99728260869375rem  +  6.0869565217vw , 6.5625rem );
  }
}
@media (width >= 43.75em){
  .hero__video-link {
    justify-self: center;
  }
}
@media (width >= 47.99875em){
  .duur::before {
    content: "";
    position: absolute;
    top: 0.0625rem;
    left: 0;
    background-color: #fff;
    height: 2.3125rem;
    width: 61.6%;
    transform: translate(0rem, -99%);
  }
  .duur::after {
    content: "";
    position: absolute;
    bottom: -0.0625rem;
    right: 0;
    height: 8.75rem;
    width: 38.3%;
    background-color: #222f33;
  }
}
@media (width > 47.99875em){
  .duur__slider {
    transform: translate(0rem, -20.5%);
  }
  .info__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width > 48em) and (width <= 75em){
  .hero__title {
    font-size: clamp( 1.5rem , 0.83333333333125rem  +  1.3888888889vw , 1.875rem );
  }
}
@media (width > 48em) and (width <= 62.5em){
  .info__container {
    gap: clamp( 1.875rem , -7.4353448275875rem  +  19.3965517241vw , 4.6875rem );
  }
  .info__content {
    column-gap: clamp( 0.9375rem , -8.3728448275875rem  +  19.3965517241vw , 3.75rem );
  }
}
@media (width > 52.5em){
  .header__body {
    gap: 2.6875rem;
  }
  .menu__list {
    column-gap: 2.5rem;
  }
  .page__innovatie {
    padding-top: 4.375rem;
  }
  .page__innovatie {
    padding-bottom: 5rem;
  }
  .page__info {
    padding-top: 5.3125rem;
  }
  .page__info {
    padding-bottom: 5.3125rem;
  }
  .duur__container {
    column-gap: 4.6875rem;
  }
  .info__content {
    row-gap: 2.3125rem;
  }
}
@media (width > 62.5em){
  .info__container {
    gap: 4.6875rem;
  }
  .info__content {
    column-gap: 3.75rem;
  }
}
@media (width > 75em){
  .header__container {
    min-height: 6.5625rem;
  }
  .hero__title {
    font-size: 1.875rem;
  }
}
@media (any-hover: hover){
  .menu__link:hover::before, .menu__link:hover::after {
    transform: scaleX(1);
  }
  .footer__mail:hover::before, .footer__mail:hover::after {
    transform: scaleX(1);
  }
  .menu-footer__link:hover::before, .menu-footer__link:hover::after {
    transform: scaleX(1);
  }
}
@media (any-hover: hover), (pointer: fine){
  html:not([data-fls-touch]) .header__button:hover {
    background-color: rgb(139, 132, 132);
  }
  html:not([data-fls-touch]) .duur__link:hover {
    background-color: #978e8e;
  }
}