* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: SourceSansPro;font-display: swap;src: url("../assets/fonts/SourceSansPro-Semibold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: SourceSansPro;font-display: swap;src: url("../assets/fonts/SourceSansPro-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: BodoniSvtyTwoITCTT;font-display: swap;src: url("../assets/fonts/BodoniSvtyTwoITCTT-Book.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: SourceSansPro;font-display: swap;src: url("../assets/fonts/SourceSansPro-Semibold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: SourceSansPro;font-display: swap;src: url("../assets/fonts/SourceSansPro-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: BodoniSvtyTwoITCTT;font-display: swap;src: url("../assets/fonts/BodoniSvtyTwoITCTT-Book.woff2") format("woff2");font-weight: 400;font-style: normal;}
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #000;
  font-family: SourceSansPro, sans-serif;
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 65.9375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.social {
  display: flex;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.footer {
  color: #000;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container {
  text-align: center;
  letter-spacing: 0.05rem;
  line-height: 1.25; /* 20/16 */
}
.footer__copy a {
  font-weight: 600;
}
.footer__copy p:not(:last-child) {
  margin-bottom: 1rem;
}/* Generated by vite-plugin-svg-spritemap */
.headerok {
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.headerok::after {
  content: "";
  width: 7.5rem;
  height: 0rem;
  border: 0.0625rem #D8AE5E solid;
}
.headerok__title {
  font-size: 4rem;
}
.headerok__title {
  font-family: BodoniSvtyTwoITCTT, serif;
}
.headerok__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.headerok__text {
  letter-spacing: 0.05rem;
  line-height: 1.2;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */

.hero {
  position: relative;
  color: #fff;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 2;
}
.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
  padding-block: 7.76699svh; /* 64/824 */
  row-gap: 15.533981svh; /* 128/824 */
  z-index: 3;
}
.hero__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 3.883495svh; /* 32/824 */
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 2.427184svh; /* 20/824 */
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.menu__list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.content-hero__title {
  font-family: BodoniSvtyTwoITCTT, serif;
  line-height: 119.791667%; /* 115/96 */
  text-transform: uppercase;
}
.content-hero__label {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 125%; /* 30/24 */
  letter-spacing: 0.225rem;
}
.button {
  padding: 0.5rem 1rem;
  background-color: #d8ae5e;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  color: #f4f4f4;
  text-transform: uppercase;
}
.about__content {
  text-align: center;
  max-width: 37.5rem;
  margin: 0 auto;
}
.about__text {
  color: #090909;
  font-size: 1.25rem;
  line-height: 150%; /* 1.875rem/20 */
  letter-spacing: 0.0625rem;
}
.active {
  background-color: #F4F4F4;
}
.active__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active__items {
  max-width: 58.125rem;
  display: flex;
}
.active__items {
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;
  margin: 0 auto;
}
.active__item {
  flex: 0 1 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.item-active__image {
  flex-grow: 1;
}
.item-active__image:not(:last-child) {
  margin-bottom: 1rem;
}
.item-active__icon {
  max-width: 100%;
}
.item-active__label {
  font-size: 1.25rem;
  line-height: 125%; /* 25/20 */
  letter-spacing: 0.0625rem;
}
.item-active__link {
  padding-bottom: 0.5rem;
  border-bottom: 0.0625rem #d8ae5e solid;
  transition: all 0.3s;
}

.section-udogo__title {
  font-size: 1.5rem;
  line-height: 125%; /* 30/24 */
  letter-spacing: 0.225rem;
  text-align: center;
  text-transform: uppercase;
}
.section-udogo__title:not(:last-child) {
  margin-bottom: 2rem;
}
.section-udogo__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.section-udogo__item {
  flex-basis: 18.1875rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.section-udogo__item:nth-child(6n+3), .section-udogo__item:nth-child(6n+4) {
  flex-basis: 25.5rem;
}
.section-udogo__item:nth-child(6n+3) .section-udogo__link, .section-udogo__item:nth-child(6n+4) .section-udogo__link {
  aspect-ratio: 408/286;
}
.section-udogo__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 291/286;
  padding: 1.25rem;
}
.section-udogo__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
}
.section-udogo__label {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 1.75rem;
  line-height: 125%; /* 35/28 */
  font-weight: 600;
  letter-spacing: 0.2625rem;
  text-transform: uppercase;
}
.section-udogo__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: scale 0.5s;
}

.contact {
  background-color: #f4f4f4;
}
.contact__container {
  display: flex;
  flex-direction: column;
}
.contact__items {
  display: flex;
  flex-direction: column;
}
.contact__items {
  align-items: center;
}
.contact__link {
  display: flex;
  gap: 1rem;
  align-items: center;
  letter-spacing: 0.05rem;
}
.contact__link--phone::before {
  content: url("../assets/img/contacts/phone.svg");
}
.contact__link--mail::before {
  content: url("../assets/img/contacts/mail.svg");
}
.contact__link--map::before {
  content: url("../assets/img/contacts/map.svg");
}
@media (width <= 65.75em) {
  .section-udogo__items {
    justify-content: center;
  }
}
@media (width <= 48em) {
  .active__items {
    column-gap: 3.125rem;
  }
  .active__items {
    row-gap: 1.875rem;
  }
}
@media (width <= 26.875em) {
  .active__items {
    justify-content: flex-start;
    row-gap: 0.9375rem;
  }
  .active__item {
    flex: 1 1 100%;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
    align-items: center;
    column-gap: 1.25rem;
  }
  .item-active__image {
    flex: 0 0 3.75rem;
  }
  .item-active__image:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (width <= 20em) {
  .footer {
    padding-block: 1.875rem;
  }
  .footer__container {
    gap: 1.75rem;
  }
  .headerok::after {
    margin-top: 0.9375rem;
  }
  .headerok__title {
    font-size: 2.1875rem;
  }
  .page__about, .page__active {
    padding-block: 2.1875rem;
  }
  .page__udogo {
    padding-top: 2.1875rem;
  }
  .page__udogo {
    padding-bottom: 2.5rem;
  }
  .page__contact {
    padding-block: 1.5625rem;
  }
  .content-hero__title {
    font-size: 4.125rem;
  }
  .about__header:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
  .about__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
  .active__container {
    gap: 2.1875rem;
  }
  .udogo__header {
    margin-bottom: 2.1875rem;
  }
  .udogo__section:not(:last-child) {
    margin-bottom: 2.375rem;
  }
  .contact__container {
    gap: 1.875rem;
  }
  .contact__items {
    gap: 0.625rem;
  }
}
@media (width > 20em) and (width <= 65.9375em) {
  .footer {
    padding-block: clamp( 1.875rem , 0.949829931975rem  +  4.6258503401vw , 4rem );
  }
  .footer__container {
    gap: clamp( 1.75rem , 0.7704081632625rem  +  4.8979591837vw , 4rem );
  }
  .headerok::after {
    margin-top: clamp( 0.9375rem , 0.4749149659875rem  +  2.3129251701vw , 2rem );
  }
  .headerok__title {
    font-size: clamp( 2.1875rem , 1.39838435374375rem  +  3.9455782313vw , 4rem );
  }
  .page__about, .page__active {
    padding-block: clamp( 2.1875rem , 1.39838435374375rem  +  3.9455782313vw , 4rem );
  }
  .page__udogo {
    padding-top: clamp( 2.1875rem , 1.39838435374375rem  +  3.9455782313vw , 4rem );
  }
  .page__udogo {
    padding-bottom: clamp( 2.5rem , 0.70408163265rem  +  8.9795918367vw , 6.625rem );
  }
  .page__contact {
    padding-block: clamp( 1.5625rem , 0.50127551020625rem  +  5.306122449vw , 4rem );
  }
  .content-hero__title {
    font-size: clamp( 4.125rem , 3.3086734693875rem  +  4.0816326531vw , 6rem );
  }
  .about__header:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.4749149659875rem  +  2.3129251701vw , 2rem );
  }
  .about__text:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.4749149659875rem  +  2.3129251701vw , 2rem );
  }
  .active__container {
    gap: clamp( 2.1875rem , 1.39838435374375rem  +  3.9455782313vw , 4rem );
  }
  .udogo__header {
    margin-bottom: clamp( 2.1875rem , 1.39838435374375rem  +  3.9455782313vw , 4rem );
  }
  .udogo__section:not(:last-child) {
    margin-bottom: clamp( 2.375rem , 1.3954081632625rem  +  4.8979591837vw , 4.625rem );
  }
  .contact__container {
    gap: clamp( 1.875rem , 0.949829931975rem  +  4.6258503401vw , 4rem );
  }
  .contact__items {
    gap: clamp( 0.625rem , 0.02636054421875rem  +  2.9931972789vw , 2rem );
  }
}
@media (width > 48em) and (width <= 75em) {
  .active__items {
    column-gap: clamp( 3.125rem , -5.54166666666875rem  +  18.0555555556vw , 8rem );
  }
  .active__items {
    row-gap: clamp( 1.875rem , -5.45833333333125rem  +  15.2777777778vw , 6rem );
  }
}
@media (width > 65.9375em) {
  .footer {
    padding-block: 4rem;
  }
  .footer__container {
    gap: 4rem;
  }
  .headerok::after {
    margin-top: 2rem;
  }
  .headerok__title {
    font-size: 4rem;
  }
  .page__about, .page__active {
    padding-block: 4rem;
  }
  .page__udogo {
    padding-top: 4rem;
  }
  .page__udogo {
    padding-bottom: 6.625rem;
  }
  .page__contact {
    padding-block: 4rem;
  }
  .content-hero__title {
    font-size: 6rem;
  }
  .about__header:not(:last-child) {
    margin-bottom: 2rem;
  }
  .about__text:not(:last-child) {
    margin-bottom: 2rem;
  }
  .active__container {
    gap: 4rem;
  }
  .udogo__header {
    margin-bottom: 4rem;
  }
  .udogo__section:not(:last-child) {
    margin-bottom: 4.625rem;
  }
  .contact__container {
    gap: 4rem;
  }
  .contact__items {
    gap: 2rem;
  }
}
@media (width > 75em) {
  .active__items {
    column-gap: 8rem;
  }
  .active__items {
    row-gap: 6rem;
  }
}
@media (any-hover: hover), (pointer: fine) {
  html:not([data-fls-touch]) .footer a:hover {
    text-decoration: underline;
  }
  html:not([data-fls-touch]) .menu__link:hover {
    text-decoration: underline;
  }
  html:not([data-fls-touch]) .button:hover {
    background-color: #946c21;
  }
  html:not([data-fls-touch]) .item-active__link:hover {
    border-bottom: 0.0625rem #1a1919 solid;
  }
  html:not([data-fls-touch]) .section-udogo__item:hover .section-udogo__image {
    scale: 1.06;
  }
  html:not([data-fls-touch]) .contact__link:hover {
    text-decoration: underline;
  }
}